.cont {
    height: 100%;
    width: 100%;
    position:fixed;
    margin: 0;
    
}
.cont_header {
    height: 36px;
    background-color: #157fcc;
    background-image: none;    
    margin-right:20px;
}

.cont_body {
    background: url('../img/square.gif') repeat;
    height: 100%;
    margin-right: 20px;
}

.panel {
    background-color:white;
    width:350px;
    height:400px;
    display:block;
    position:relative;
    top: 10%;
    left:10%;

}
.panel_header {
    height: 36px;
    background-color: #157fcc;
    background-image: none;
}

.panel_content {
    overflow:auto;
}

.header_text {
    color:white;
    font-size:17px;
    font-weight:bold;
    font-family:'Times New Roman';
    text-transform:none;
    position:absolute;
    top:10px;
    left:5px;   
}


.Container {
    padding: 0;
    margin: 0;
    display: block;
}
.Container li {
    list-style-type: none; 
}
.Node {
    margin-left:18px;
    zoom:1;
}
.IsRoot {
    margin-left:0;
}
.ExpandLoad {
    height: 18px;
    float: left;
    background-image: url('../img/tree/expand_loading.gif');
    position: absolute;
    width: 17px;
}
.Expand {
    height: 18px;
    float: left;
    background-image: url('../img/tree/arrows.png');
    position: absolute;
    width: 17px;
}
    .ExpandOpen .Expand {
        width: 36px;
        margin-left: -18px;
        clip: rect(auto,36px,auto,18px);
    }
    .ExpandClosed .Expand {
        margin-left: 0;
        clip: rect(auto,18px,auto,0);
    }

    .ExpandLeaf .Expand {
        background-image: url('../img/tree/leaf.png');
        margin-left: 0;
        clip: rect(auto,18px,auto,0);
    }
.Content, .RootContent {
    margin-left:18px;
    min-height:18px;
    width: 30%;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer; 
}

.ExpandLeaf .Expand {
    cursor: auto; 
}


.ExpandClosed .Container {
    display: none;
}



* html .Content {
    height: 18px;
}


#tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top:0;
    left:0;
    background-color: #555555;
    padding: 5px 10px 5px 10px;
    color: white;
    
}